<div>
    <figure style="padding-left:300px;">
      <!-- Photo by Quentin Dr on Unsplash -->
      <img src="https://lirp-cdn.multiscreensite.com/618c10e1/dms3rep/multi/opt/delivery-480w.jpg" 
       alt="Several hands holding beer glasses"  width="1000" height="430" style="padding-left:100;">
      <figcaption><h3 > "We  all to gether rise by lifting others by <i>GOUTHAMCARE CHARITY</i>  needs  a <i>VOLUNTEER</i> 
        to <br> disturbute the food packets... <b>WILL YOU???</b></h3></figcaption>
    </figure>
    
  </div>

<div class="grid">
    <div class="item" style="text-align: center;">
      <h3 style="color:white;">ABOUT US</h3>
      <p style="color: aliceblue;">Everyone has something to give! Gotham Care aims to build community by engaging people to help  so  We Gotham Cares Charitable Society is planning to distribute food among  the  most needy of Gotham so  our Society is planning to serve various types of  various foods and ready  to eat food packets through outlets across the city and we are in the direct need of volunteers for the distribution outlets.Whether you have only a few hours one day a week or can volunteer every day, your assistance is much needed.Neighbors volunteer  can have their time and talent to help people to live with dignity and independence. Interested in volunteering? Please  enter the field and submit the volunteer application found on the left-hand side menu on this website page.</p>
</div>
<br>
<br>
<br>
<div class="container1">
  <div class="footer"><h6 style=" font-size: 20px;"><h5 style=" font-size: 30px; "><b>CONTACT ADDRESS</b></h5><br> 7/A Raj Street ,<br> Thiruvenagadam Nagar,<br>Coimbatore 641697.</h6>
  </div>
  <div class="footer1"><h4><s>NOT WITH MONEY</s>MAKE WITH LOVE!!!<br> <br><b>CONNECT WITH US THROUGH SOCIAL MEDIA</b><br><br><br><i>Copyright recieved with all rights</i></h4>
  </div>
  <div><h4> <b>FEEL FREE TO CONTACT US FOR MORE DETAILS</b> <br><br><h5>emailId:gouthamcare@gmail.com</h5><br><h5>Telephone:+2080141<br>MobileNumber:9443770794<br>WhatsappNumber:9566611305</h5></h4> 
      <h5></h5><br><br></div>

</div>
