<div class="topnav">
    <a class="logo" style="font-size: 40px; font-family: monospace ; "><i>GC</i></a>
    <nav>
      <a routingLink="/homepage" routerLink="Active"><b>HOMEPAGE</b></a>
      <a routingLink="/outlet"><b>DISTURBUTE OUTLET</b></a>
      <a routingLink="/volunteer"><b>VOLUNTEER</b></a>
      
      <i class="bi bi-alarm-fill"></i>
    </nav>
    
</div>
  
<div style="text-align: center;">
   
    <h1 style="font-family: Cambria; font-size: 55px; color:white;"><b>WELCOME TO GOUTHAM CARE CHARITY SOCIETY</b></h1>
    <br>
    <h2 style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: white;"><i>OUR MOTO IS " HELPING OTHERS IS The purpose of life to be happy!<br> It is to be useful, to be honorable, to be compassionate,<br> to have it make some difference that you have lived and lived well."</i></h2>
   <br>
   <h1 style="font-size: 35px ; font-family: monospace ; color: rgba(203, 214, 224, 0.747);"><b>OPERATING HOURS - ALL DAYS FROM <i style="color: white;"><b>7.00am TO 10.00pm</b></i></b></h1>
</div>


  

<router-outlet></router-outlet>

