<div >
    <form #f ="ngForm" name="form" (Submit)="onSubmit(f)" autocomplete="off">
        <div class="form-group">
          <label>Name</label>
          <input [(ngModel)]= "volunteer.Name" name= "Name" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label >EmailId</label>
          <input [(ngModel)]= "volunteer.EmailId" name= "EmailId" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label >PhoneNumber</label>
            <input [(ngModel)]= "volunteer.PhoneNumber" name= "PhoneNumber" type="number" class="form-control">
        </div>
        <div class="form-group">
            <label >SelectedOutlet</label>
            <input [(ngModel)]= "volunteer.SelectedOutlet" name= "SelectedOutlet" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label >SelectedDate</label>
            <input [(ngModel)]= "volunteer.SelectedDate" name= "SelectedDate" type="text" class="form-control">
        </div>
       
        <button type="submit" class="btn btn-success">Submit</button>
      </form>   
</div>